{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- --------------------------------------- -->


  <!-- ---------------------------------------- -->
  
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tron Media Player</title>

  <!-- Including bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Including chart js library  -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <!-- Including admin css file  -->
  <link rel="stylesheet" type="text/css" href="{% static 'chartcss/ruang-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'chartcss/ruang-admin.min.css' %}">

  <!-- My Css  -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
  <!-- Including admin js file  -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>


  
  <style>
    
  </style>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <div>{{user.username}}</div>
      <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
  </nav>




<div class="container">

  {% if not user.is_authenticated %}
    <!-- Login Form -->
    <div class="login-form">
      <h2>Login to Tron Media Player</h2>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <div class="forgot-password-link" onclick="showForgotPasswordForm()">Forgot Password?</div>
      <div onclick="showRegistrationForm()">Registered?</div>
    </div>

    <!-- Registration Form (Initially Hidden) -->
    <div class="registration-form" style="display:none;">
      <h2>Register for Tron Media Player</h2>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="reg_username">Username:</label>
        <input type="text" id="reg_username" name="reg_username" required>
        <label for="reg_email">Email:</label>
        <input type="email" id="reg_email" name="reg_email" required>
        <label for="reg_password">Password:</label>
        <input type="password" id="reg_password" name="reg_password" required>
        <button type="submit">Register</button>
      </form>
      <div onclick="showLoginForm()">Login page</div>
    </div>

    <!-- Forgot Password Form (Initially Hidden) -->
    <div class="forgot-password-form" style="display:none;">
      <h2>Forgot Password</h2>
      <form action="#" method="post">
        {% csrf_token %}
        <label for="forgot_email">Enter your email:</label>
        <input type="email" id="forgot_email" name="forgot_email" required>
        <button type="submit">Reset Password</button>
      </form>
      <div class="login-link" onclick="showLoginForm()">Back to Login</div>
    </div>
  {% endif %}

  
{% if user.is_authenticated %}
  <!-- Media Player -->
  <div class="media-player">
    <!-- Music list section  -->
    <!-- <section id="music-section">
      <ul>
        {% for audio in audios %}
          <a href="{% url 'play' audio.id %}"><li>{{audio.get_music_name}}</li></a>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'save_audio' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </section> -->
    
    <!-- Music control section  -->
    <section id="audio-section">
      {% if playing %}
        <p id="now-playing-name">Playing: {{playing.get_music_name}}</p>
      {% else %}
        Select a music 
      {% endif %}
      
      <audio controls>
        <source src="{{playing.file.url}}" type="audio/mp3"> <!-- Add your audio file source -->
        Your browser does not support the audio element.
      </audio>

      <div id="drop-area" class="file-drop-area" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
        <p>Drag and drop your audio file here or click to browse</p>
        <!-- Add your file drop area functionality here -->
      </div>

      
    </section>
  
    
  </div>
  {% endif %}

  <!-- Bar Chart -->
  <canvas id="myBarChart"></canvas>
  <!-- Doughnut Chart -->
  <canvas id="myPieChart"></canvas>
  <!-- Area Chart  -->
  <canvas id="myAreaChart"></canvas>
  

  <script>
    function toggleForms(showForm) {
      const loginForm = document.querySelector('.login-form');
      const registrationForm = document.querySelector('.registration-form');
      const forgotPasswordForm = document.querySelector('.forgot-password-form');
      const loginLink = document.querySelector('.login-link');

      loginForm.style.display = 'none';
      registrationForm.style.display = 'none';
      forgotPasswordForm.style.display = 'none';
      
      if (showForm === 'login') {
        loginForm.style.display = 'block';
      } else if (showForm === 'register') {
        registrationForm.style.display = 'block';
      } else if (showForm === 'forgot-password') {
        forgotPasswordForm.style.display = 'block';
      }
    }

    function showLoginForm() {
      toggleForms('login');
    }

    function showForgotPasswordForm() {
      toggleForms('forgot-password');
    }

    function showRegistrationForm() {
      toggleForms('register');
    }

    function handleDrop(event) {
      event.preventDefault();
      const files = event.dataTransfer.files;
      handleFiles(files);
    }

    function handleDragOver(event) {
      event.preventDefault();
    }

    function handleFiles(files) {
      const formData = new FormData();
      for (const file of files) {
        formData.append('file', file);
      }

      // Use fetch to send the files to the server
      fetch('drag-drop', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        // Display the server response (if needed)
        console.log(data);
        location.reload()
      })
      .catch(error => console.error('Error:', error));
    }
    
    
  </script>
  <!-- Include chart-bar-demo.js -->
  <script src="{% static 'chartjs/chart-area-demo.js' %}"></script>
  <script src="{% static 'chartjs/chart-bar-demo.js' %}"></script>
  <script src="{% static 'chartjs/chart-pie-demo.js' %}"></script>
  <!-- Include Ruang Admin JS -->
  <script src="{% static 'chartjs/ruang-admin.js' %}"></script>
  <script src="{% static 'chartjs/ruang-admin.min.js' %}"></script>
</div>



</body>
</html>
